workflow.json
{
  "createdAt": "2025-05-13T20:59:55.459Z",
  "updatedAt": "2025-05-14T20:07:22.000Z",
  "id": "o8oTpMnrbO7Kz20C",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -20
      ],
      "id": "c8dabaed-a802-4ecb-8ebd-4e82edbff7cd",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:cac3376a4d0348bab64e7688cd5058a8@thread.v2",
          "mode": "list",
          "cachedResultName": "📌 Fixo - Squad AI Journey Interno (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Acac3376a4d0348bab64e7688cd5058a8%40thread.v2/0?tenantId=898e4078-23d6-433c-94aa-51bf928dca9d"
        },
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        300,
        -60
      ],
      "id": "e7e7b8a1-5d89-4910-bc48-b5eed5ff0c34",
      "name": "Microsoft Teams",
      "webhookId": "516ee7ce-1a02-4a65-83ac-2380b4cc25e3",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "HhOB6ODuFlOprimH",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Begin with your response with the text \"Test message for n8n versioning workflow - using GPT-3.5-TURBO\". Them, put a like break, and them your response",
              "role": "system"
            },
            {
              "content": "Tell me a curiosity about the ocean. Constrains yourself to only one phrase."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -100,
        -140
      ],
      "id": "3d935777-2820-4f21-a281-7bc06d9d7ac3",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gDXpeeusTt4ZPMVO",
          "name": "n8n_vcsTestWorkflow_development_openaiAPIKey"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b4f4c0d2-a862-405c-8ade-41c690e549f1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-05-13T20:59:55.463Z",
      "updatedAt": "2025-05-13T20:59:55.463Z",
      "role": "workflow:owner",
      "workflowId": "o8oTpMnrbO7Kz20C",
      "projectId": "4PVE78cxY5bKNwtn",
      "project": {
        "createdAt": "2024-09-23T19:28:30.139Z",
        "updatedAt": "2025-05-07T13:57:37.000Z",
        "id": "4PVE78cxY5bKNwtn",
        "name": "SereIA Staging",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "projectRelations": [
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:admin",
            "userId": "3b309df2-34f0-4884-a3c5-17fddbc75d92",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2024-09-12T14:34:24.546Z",
              "updatedAt": "2025-05-12T17:37:24.628Z",
              "id": "3b309df2-34f0-4884-a3c5-17fddbc75d92",
              "email": "ai.data@srna.co",
              "firstName": "Serena",
              "lastName": " Energia",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "3DzYMGHbNwSQACki",
                "userActivatedAt": 1726583125955,
                "isOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1747071442063
                },
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "e546e434-23fe-480c-8935-2be642af649c",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2024-09-12T15:07:27.466Z",
              "updatedAt": "2024-09-17T20:08:57.425Z",
              "id": "e546e434-23fe-480c-8935-2be642af649c",
              "email": "ettore.aquino@srna.co",
              "firstName": "Ettore",
              "lastName": "Aquino",
              "personalizationAnswers": null,
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "aedb7e6f-8280-4dd3-911c-c08b2224048e",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2024-09-12T15:08:16.954Z",
              "updatedAt": "2025-04-09T19:19:32.468Z",
              "id": "aedb7e6f-8280-4dd3-911c-c08b2224048e",
              "email": "lucas.mattos@srna.co",
              "firstName": "Lucas",
              "lastName": "Cesar Mattos",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:admin",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "6b587fce-4265-49ab-acc7-6463ae89e95c",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2024-09-12T14:36:28.221Z",
              "updatedAt": "2025-04-10T20:05:42.584Z",
              "id": "6b587fce-4265-49ab-acc7-6463ae89e95c",
              "email": "diogo.barros@srna.co",
              "firstName": "Diogo Barros",
              "lastName": "Pinto",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:admin",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "e28e0104-1cef-48dd-98c2-1c813ddc8e54",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2024-09-12T15:06:30.304Z",
              "updatedAt": "2025-05-14T17:38:52.372Z",
              "id": "e28e0104-1cef-48dd-98c2-1c813ddc8e54",
              "email": "gabriel.hamu@srna.co",
              "firstName": "Gabriel",
              "lastName": "Elias Silva Hamu",
              "personalizationAnswers": null,
              "settings": {
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "ay70owT2p6F6HrrU",
                "userActivated": true,
                "userActivatedAt": 1726583612388,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1747244329192
                },
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:admin",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "a4b91c39-cc6d-4c38-a546-6e645e485845",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2025-02-19T20:27:55.903Z",
              "updatedAt": "2025-04-22T17:26:34.213Z",
              "id": "a4b91c39-cc6d-4c38-a546-6e645e485845",
              "email": "eloah.baracho@srna.co",
              "firstName": "Eloah Baracho",
              "lastName": "Baracho dos Santos",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:viewer",
            "userId": "468f240e-72dc-4a8e-9029-97bf37c30f33",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2025-03-13T20:41:22.922Z",
              "updatedAt": "2025-03-13T20:42:28.283Z",
              "id": "468f240e-72dc-4a8e-9029-97bf37c30f33",
              "email": "lucasmrnbr@gmail.com",
              "firstName": "Lucas",
              "lastName": "Nishimura",
              "personalizationAnswers": null,
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "fee725c7-d693-45af-8944-6226a4147c1b",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2025-04-09T19:21:05.291Z",
              "updatedAt": "2025-04-09T19:21:58.215Z",
              "id": "fee725c7-d693-45af-8944-6226a4147c1b",
              "email": "helio.costa@srna.co",
              "firstName": "Helio",
              "lastName": "Costa",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          },
          {
            "createdAt": "2025-05-07T13:57:37.739Z",
            "updatedAt": "2025-05-07T13:57:37.739Z",
            "role": "project:editor",
            "userId": "3afdcea1-ce31-486c-9baf-6c4ebff01233",
            "projectId": "4PVE78cxY5bKNwtn",
            "user": {
              "createdAt": "2025-04-24T19:42:59.231Z",
              "updatedAt": "2025-05-13T12:56:17.422Z",
              "id": "3afdcea1-ce31-486c-9baf-6c4ebff01233",
              "email": "adran.carnavale@srna.co",
              "firstName": "Adran Carnavale",
              "lastName": "Carnavale",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:admin",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ]
}